body {
    position: relative;
}

.nav-item li {
    padding-top: 50px;
}
.container-fluid {
    padding-top: 50px;

    bottom: 64px;
}

.button {
    border-left-width: 10px;
}



footer {
    background-color: #f5f3e9;
    color: #231f20;

}

label {
    position: relative;
    bottom: 64px;
    color: white;
    background-color: #2fc1d4;
    width: 160px;
    border-radius: 5px;
    font-size: 18px;
    align-items: center;
    display: flex;
}

